.login-container{
    width: 100%;
    height: 100%;
    background: rgb(21,113,177);
background: linear-gradient(0deg, rgba(21,113,177,1) 0%, rgba(97,167,233,1) 100%);
position: fixed;
text-align: center;

}

*{
    margin: 0;

}


.login-div{
    background-color: white;
    display: inline-block;
    margin: 100px;
    border-radius: 10px;
    width: 20%;
    padding: 15px;
}


*{
    font-family: itc book;
}


.login-div img{
    padding: 20px;
    padding-bottom:30px;
}