Input.Input-error,
select.Input-error{
    border-color: red;
    border: 1px solid red;

}


Input{
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 18px;
    border-radius: 15px;
}


.alertDiv{
    margin-top: 10px  !important;
}

.newcustomer-container{
    padding: 20px;
}